#root {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    outline: none !important;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr {
    border-bottom: 1px solid #28292b;
}

th,
td {
    padding: 5px;
    text-align: left;
}
